.cards__list {
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;

  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
}

.cards{
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

@media screen and (max-width: 1320px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile */
@media screen and (max-width: 630px) {
  .cards__list {
    grid-template-columns: 1fr;
  }
}