.header{
  width:100%;
  background-color: #FFFFFFCC;
  border-top: none;
  border-bottom: none;

  display: flex;
  justify-content: center;
}

.header__content{
  max-width: 1280px;
  margin: 0 auto;
  height: 46px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.header__logo{
  display: block;
  height: 46px;
}