.page {
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  min-width: 320px;
  min-height: 100vh;
  border: none;
  overflow-x: hidden;
}

.page__content{
display: flex;
flex-direction: column;
min-height: 100vh;
}

.page__section{
  max-width: 1280px;
  margin: 0 auto;
}

body{
  margin: 0;
  padding: 0;
}