.page {
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  min-width: 320px;
  min-height: 100vh;
  border: none;
  overflow-x: hidden;
}

body{
  margin: 0;
  padding: 0;
}