.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33,33,33,0.4);
  margin-bottom: 30px;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  max-width:650px;
  margin-bottom: 4px;
}

.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.profile__job {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  opacity: 0.7;
  color: rgba(33,33,33,0.7);
}

.profile__edit-icon{
margin-top: 18px;
width: 16px;
height: 16px;
opacity: 0.7;
}

.profile__edit-button {
display: flex;
align-items: center;
gap: 8px;
margin-top: 12px;

background: transparent;
border: none;
padding: 0;

font-size: 16px;
color: rgba(33,33,33,0.7);
cursor: pointer;
}

.profile__add-button{
display: flex;
align-items: center;
gap: 8px;

padding: 12px 20px;
border-radius: 8px;
border: none;
background-color: #212121;
color: white;
font-size: 14px;
cursor: pointer;
}

.profile__add-icon{
    width: 16px;
    height: 16px;
}

@media screen and (max-width: 630px) {
    .profile {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .profile__add-button {
        align-self: stretch;
        justify-content: center;
    }
}